/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'MyriadPro-Sb', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000000;
$mainLetterSpacing       : normal;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.5;

$desktopWidth            : 960px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Main color
$accentColor             : #3cd072;
$default-color           : #ffffff;
$primary-color           : #000000;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;